.container {
    background-image: url(/public/images/main/main-background.svg);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}


.title{
    text-align: center;
    margin-top: 38.89vh;
}

.btn{
    margin-left: 46.61vw;
    margin-top: 5.65vh;
}

.btn img{
    width: 15.83vw;
    height: 9.91vh;
    cursor: pointer;
}

.btn img:first-child{
    margin-right: 2.42vw;
}