.container {
    background-image: url(/public/images/teacher/background.svg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.title{
    margin-top: 18.24vh;
}

.slider {
    height: 34.63vh;
    width: 61.41vw;
}

.slick-slide {
    transition: transform 0.5s ease;
}

.slick-slide:not(.slick-center) {
    transform: scale(0.85);
}

.slick-center {
    transform: scale(1);
}
.slick-next::before,
.slick-prev::before {
    display: none !important;
}

.slick-next{
    margin-top: -80px;
    margin-left: 120px;
}

.slick-prev{
    margin-top: -80px;
}

.teacher img{
    width: 17.24vw;
    height: 17.24vw;
}

.button{
    position: fixed;
    top: 72.5vh;
    left : 63.88vw;
    cursor: pointer;
}