.container {
    background-image: url(/public/images/game/background.svg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.teacher{
    position: fixed;
    left: 66.19vw;
}

.teacher img{
    width: 13.4vw;
    height: 58.8vh;
}