.background {
    background-image: url(/public/images/ranking/background.svg);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23vh;
    max-height: 75vh;
    overflow-y: auto;

}

.title {
    position: fixed;
    top: 4.81vh;
    left: 46.09vw;
}

.arrow {
    position: fixed;
    top: 7.69vh;
    left: 19.32vw;
    cursor: pointer;
}
