.container {
    background-image: url(/public/images/end/background.svg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.title{
    font-size: 90px;
    left: 24.48vw;
    top: 16.76vh;
    position: fixed;
    font-weight: 500;
}


.score{
    font-size: 150px;
    top: 12.24vh;
    left: 41.93vw;
    position: fixed;
    color: #00631C;
    text-align: center;
    font-weight: bold;
}

.scoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    left: 42.29vw;
    top: 20.8vh;
    position: fixed;
}

.line img{
    width: 30vw;
}

.comment{
    color: #C40000;
    font-size: 150px;
    top: 25.07vh;
    left: 24.48vw;
    position: fixed;
    font-weight: 600;
    width: 37vw;
}

.teacher{
    left: 64.9vw;
    top: 21.2vh;
    position: fixed;
}

.teacherSms{
    left: 64.9vw;
    top: 21.2vh;
    position: fixed;
}


.teacher img {
    width: 18.99vw;
}

.teacherSms img{
    width: 15.99vw;
}

.btn{
    display: flex;
    left: 24.48vw;
    top: 44.44vh;
    position: fixed;
}

.rankingBtn, .mainBtn{
    font-size: 82px;
    cursor: pointer;
}

.rankingBtn{
    margin-right: 2.67vw;
}

.rankingBtnLine{
    display: none;
    left: 24.2vw;
    top: 46.5vh;
    position: fixed;
    cursor: pointer;
}

.rankingBtnLine img{
    width: 15vw;
}

.rankingBtn:hover + .rankingBtnLine {
    display: flex;
}

.mainBtnLine{
    left: 34.5vw;
    top: 47.6vh;
    position: fixed;
    display: none;
    cursor: pointer;
}

.mainBtnLine img{
    width: 14vw;
}

.mainBtn:hover + .mainBtnLine {
    display: flex;
}

.textKjs{
    color: #C40000;
    font-size: 130px;
    top: 25.07vh;
    left: 24.48vw;
    position: fixed;
    font-weight: 600;
    width: 37vw;
}

.textKyc{
    color: #C40000;
    font-size: 110px;
    top: 25.07vh;
    left: 24.48vw;
    position: fixed;
    font-weight: 600;
    width: 37vw;
}